.paralax-style{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 150vh;
    background-image: url("/stranica/slike/embedded.jpg");
    background-size: cover;
}
.paralax-style h2{
  background-color: lightgrey;
  width: 500px;
  border: 15px solid cyan;
  padding: 50px;
  margin: 20px;
}
.paralax-style1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 150vh;
    /*background-image: url("slike/embedded.jpg");*/
    background-size: cover;
}
.paralax-style1 h2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
  width: 400px;
  border: 15px solid cyan;
  padding: 50px;
  margin: 20px;

}